header {
    height: 4.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: white;
    border-bottom: 1px solid #eaeaea;

    @media screen and (max-width: 768px) {
        padding: 0.5rem 0;
    }
}

#header-spacer {
    height: 4.5rem;
    width: 100%;
}

#header-content {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: space-between;
}

#header-logo {
    flex-shrink: 1;
    display: block;
    height: 100%;
    padding: 0.25rem 0;
}

#header-logo img {
    height: 100%;
    width: 100%;
}

header nav {
    display: block;
    width: fit-content;
    margin: 0 1rem
}

header nav > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    list-style: none;
    gap: 1rem;
}

header nav > ul > li {
    margin: 0;
    padding: 0;
}

header nav > ul > li > a {
    display: block;
    padding: 0.5rem 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    color: rgb(58,58,58);
    border-radius: 9999px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-align: center;

    cursor: pointer;
}

header nav > ul > li > a > svg {
    width: 100%;
    height: 100%;
}

header nav > ul > li > a:hover {
    background-color: rgba(58,58,58, 0.1);
}